@charset "UTF-8";
/* CSS Document */

body, html{
	max-width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
.coverpagebg {
      background:url('img/sitebackground.jpg');
      background-size:100%;
      background-repeat:no-repeat;
}
